{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Productos Disponibles</h2>
    <div class="row">
        <!-- Lista de productos -->
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ producto.imagen_url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">${{ producto.precio }}</p>
                    <button class="btn btn-primary">Agregar al carrito</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}